body {
  background: url(images/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.page {
  min-height: 100vh;
}

.page#intro {
  margin-bottom: -75px; 
}

.page:not(#intro) {
  padding-top:5em;
  padding-bottom: 2em;
}

/* Intro */
.intro {
  padding-left: 18vw;
  padding-top: 50vh;
}

.intro_title {
  color: white;
  font-size: 6rem;
  padding-left: 96px;
  position: relative;
  margin:0;
  transform: translateY(-50%);
}

.intro_title > * {
  display: block;
}




.intro_title > span {
  text-transform: uppercase;
  font-weight: 900;
  line-height: .8;
}

.intro_title .brace {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14rem;
  line-height: .55;
}

.intro_title > small {
  font-size: 3.8rem;
}

.intro_title > small > span {
  border-bottom: 4px solid; 
}

/* Top Header */
.header {
  /* background: navy; */
  /* height: 75px; */
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  background:rgba(5, 12, 38, 0.9)
}

#logo img {
  max-height: 56px;
  color: #fff;
}

#logo img path {
  background: color;
}

#menu {
  margin-bottom: 0;
  list-style: none;
}

#menu a {
  color: rgba(255, 255, 255, .5);
  /* padding: 0 16px; */
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  transition: all .3s;
}

#menu a:hover {
  color: #fff;
  text-decoration: none;
  /* margin: 1px 0; */
}

#menu a::before, #menu a::after {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: all .3s;
}

#menu a::before {
  content: '{';
}

#menu a::after {
  content: '}';
  left: auto;
  right: 8px;
}

#menu a:hover::before {
  left: 0;
  opacity: 1;
}

#menu a:hover::after {
  right: 0;
  opacity: 1;
}
#about {
  background: url(/images/manikanta_narahari.jpg) no-repeat;
  background-position: right bottom;
  /* background-attachment: fixed; */
  background-size: contain;;
}
#about .about_intro h1, #about .about_intro strong {
  color:#363C51;
}

.about_content {
  font-size: smaller;
  max-width: 640px;
}
.i_am {
  font-size: 2.5rem;
}

@media screen and (max-width: 1024px) {
  
  .intro {
    /* text-align: right; */
    padding-left: 10vw;
  }
  .intro_title {
    font-size: 5rem;
  }
  .intro_title > small {
    font-size: 2rem;
  }

  .intro_title .brace {
    font-size: 12rem;
  }

  #about {
    background: none;
  }
}

@media screen and (max-width: 640px) {
  .intro {
    /* text-align: right; */
    padding-left: 5vw;
    font-size: 2rem;
  }

  .intro_title {
    font-size: 3rem;
    padding-left: 56px;
    margin-bottom: 16px;
  }
  .intro_title > small {
    margin-top: 6px;
    font-size: 1.6rem;
  }

  .intro_title .brace {
    font-size: 8rem;
  }

  .intro_title > small > span {
    border-bottom: 2px solid; 
  }
}

@media screen and (max-width: 480px) {
  .intro {
    /* text-align: right; */
    padding-left: 5vw;
    font-size: 2rem;
  }

  .intro_title {
    font-size: 2.2rem;
    padding-left: 48px;
    margin-bottom: 16px;
  }
  .intro_title > small {
    margin-top: 6px;
    font-size: 1.2rem;
  }

  .intro_title .brace {
    font-size: 6rem;
  }

  .intro_title > small > span {
    border-bottom: 2px solid; 
  }
}